<a href="https://colab.research.google.com/github/kunai-3txk/Compe_tonyobyo/blob/main/AMP_LPSearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
def score_cal(y_true, y_pred):
    smap = np.zeros(len(y_true))
    num = np.abs(y_true - y_pred)
    dem = ((np.abs(y_true) + np.abs(y_pred)) / 2)
    pos_ind = (y_true!=0)|(y_pred!=0)
    smap[pos_ind] = num[pos_ind] / dem[pos_ind]
    ret = 100 * np.mean(smap)
    return ret

In [3]:
#ALL_RATE_A = 5.0
#ALL_RATE_B = 1.0

SUB_SCORE_A = 74
SUB_SCORE_B = 109
SUB_SCORE_C = 71

In [14]:
def search(df_sub,sub_score):
    #for n in range(10000):
    _counter = 0
    #df_sub['rating'] = all_rate
    predict = df_sub['rating'].values

    while True:
      _true_list = []
      #******************************************************
      _true_list += [random.randint(0, 33) for i in range(4)]
      _true_list += [random.randint(0, 40) for i in range(4)]
      _true_list += [random.randint(0, 86) for i in range(4)]
      _true_list += [random.randint(0, 20) for i in range(4)]
      # _true_list += [random.randint(0, 52) for i in range(4)]
      # _true_list += [random.randint(0, 52) for i in range(4)]
      # _true_list += [random.randint(0, 132) for i in range(4)]
      # _true_list += [random.randint(0, 24) for i in range(4)]
      #******************************************************

      _true = np.array(_true_list)
      #len(true_list),len(predict)
  
      _choice_list = []
      #_choice_list = random.sample(range(15), k=8)
      _choice_list+=random.sample(range(0,4), k=2)
      _choice_list+=random.sample(range(4,8), k=2)
      _choice_list+=random.sample(range(8,12), k=2)
      _choice_list+=random.sample(range(12,16), k=2)

      _true_choice = []
      _predict_choice = []
      for _i in _choice_list:
        _true_choice.append(_true[_i])
        _predict_choice.append(predict[_i])

      _score = round(score_cal(np.array(_true_choice),np.array(_predict_choice)),0)

      if _score == sub_score:
        _save_true_list = _true_list
        _save_choice_list = _choice_list
        #print('set_end',counter)
        _summary = df_sub.join(pd.DataFrame(_save_true_list))
        _summary_choice = _summary.iloc[_save_choice_list,:].sort_index()
        _score_sum = _summary_choice.sum()[0]
        _score_mean = _summary_choice.mean()[0]
        _score_max = _summary_choice.max()[0]
        break

      _counter += 1

    return _summary,_summary_choice,_score_sum,_score_mean,_score_max

In [5]:
sub_a = pd.read_csv('/content/drive/MyDrive/AMP/submission/sub_a.csv')
sub_b = pd.read_csv('/content/drive/MyDrive/AMP/submission/sub_b.csv')
sub_c = pd.read_csv('/content/drive/MyDrive/AMP/submission/sub_c.csv')

In [17]:
match_summary_a=pd.DataFrame()
match_summary_b=pd.DataFrame()
match_summary_choice_a = []
match_summary_choice_b = []

while True:
  summary_a,summary_choice_a,sum_a,mean_a,max_a = search(sub_a,SUB_SCORE_A)
  summary_b,summary_choice_b,sum_b,mean_b,max_b = search(sub_b,SUB_SCORE_B)

  if (sum_a == sum_b) & (mean_a == mean_b) & (max_a == max_b): 
    print('1st sum:',sum_a)
    for n in range(10000):
      summary_c,summary_choice_c,sum_c,mean_c,max_c = search(sub_c,SUB_SCORE_C)
      if (sum_a == sum_c) & (sum_a == mean_c) & (max_a == max_c): 
        print('2nd sum:',sum_c)
        match_summary_a=summary_a
        match_summary_b=summary_b
        match_summary_c=summary_c
        match_summary_choice_a=summary_choice_a
        match_summary_choice_b=summary_choice_b
        match_summary_choice_c=summary_choice_c
        break
    break

display(match_summary_choice_a)
display(match_summary_choice_b)
display(match_summary_choice_c)

                    prediction_id  rating   0
2   3342_0_updrs_1_plus_12_months      20   2
3   3342_0_updrs_1_plus_24_months      20   2
4    3342_0_updrs_2_plus_0_months      22  31
6   3342_0_updrs_2_plus_12_months      22  12
9    3342_0_updrs_3_plus_6_months      40   0
11  3342_0_updrs_3_plus_24_months      40  65
13   3342_0_updrs_4_plus_6_months       5  12
15  3342_0_updrs_4_plus_24_months       5  20

In [13]:
#_choice_list = random.sample(range(15), k=8)

_choice_list = []
_choice_list.append(random.sample(range(0,4), k=2))
_choice_list.append(random.sample(range(4,8), k=2))
_choice_list.append(random.sample(range(8,12), k=2))
_choice_list.append(random.sample(range(12,16), k=2))


_choice_list

_choice_list = []
_choice_list+=random.sample(range(0,4), k=2)
_choice_list+=random.sample(range(4,8), k=2)
_choice_list+=random.sample(range(8,12), k=2)
_choice_list+=random.sample(range(12,16), k=2)
_choice_list

[3, 2, 7, 4]